doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Qr Code Generator
        link(rel="stylesheet" href="style.css")

    body
        .container
            .header
                h1 Qr Code Generator
                p Type Url Or Text To Generate
            .input-form
                input(type="text" class="qr-input" placeHolder='Enter Url Or Text')
                button.gene-btn Generate Qr Code
            .qr-code
                img(src="qrcode.png" class='qr-img')
        script(src="code.js") 